{% extends 'base.html.twig' %}

{% block body %}
    {{ include('layouts/head.html.twig') }}
    <section class="bg-primary" id="one">
        {{ include('layouts/section_1.html.twig') }}
    </section>
    <section id="two">
        {{ include('layouts/section_2.html.twig') }}
    </section>
    <section id="three" class="no-padding">
        {{ include('layouts/section_3.html.twig') }}
    </section>
    <section class="container-fluid" id="four">
        {{ include('layouts/section_4.html.twig') }}
    </section>

    <section id="last">
        {{ include('layouts/contact.html.twig') }}
    </section>

    <div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        {{ include('layouts/gallery.html.twig') }}
    </div>
    <div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        {{ include('layouts/about.html.twig') }}
    </div>
    <div id="alertModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        {{ include('layouts/alert.html.twig') }}
    </div>


    {{ include('layouts/footer.html.twig') }}

{% endblock %}


